.ml-2 {
  margin-left: 0.5rem !important;
}

.btn-orange {
  background-color: var(--orange) !important;
}

.font-heavy {
  font-weight: 800;
}

.font-medium {
  font-size: 0.8em;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-none {
  border: none !important;
}

.text-left {
  text-align: left !important;
}

.skilled-text{
  left: 15em;
  z-index: 2;
}

.skilled-text h1 {
  font-size: 120px;
  font-weight: 600;
}

.skilled-text button {
  padding-left: 10em;
  padding-right: 10em;
  font-weight: 700;
}

.skilled-img {
  border: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

#feature {

}

.feature-list {
  list-style: none !important;
}

.green-img {
  right: 120px;
}

#feature .card,
#operating-env {
  border: none !important;
}

.feature-list-cont {
  width: 100%;
  text-align: center;
  padding-right: 13em;
}

.feature-list-cont h2 {
  
}

.feature-header, .function-header {
  margin: 2em 0;
  font-size: 2em;
  font-weight: 800;
}

.feature-list li img {
  width: 30%;
}

.feature-list li div {
  width: 70%;
  text-align: left;
}

.feature-list-header{
  font-size: 1.7em;
  font-weight: 700;
}

.function-cont {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.function-header {
  text-align: left;
}

.function-list-header {
  font-size: 1.4em;
  font-weight: 700;
  padding: 0.6em 0;
}

.function-list-item:not(:first-child) {
  margin: 0 0.5em;
}

.function-list-item:first-child {
  margin-right: 0.5em;
}

#price {
  margin-top: 10%;
  overflow: hidden;
}

.price-header {
  margin-left: 10%;
}

.img-1 {
  top: -10em;
  right: -18em;
}

.img-2 {
  left: -14.6em;
  top: 45em;
}

.img-3 {
  top: 82em;
  right: 0;
}

.img-4 {
  bottom: 17em;
  left: -27em;
}
.img-5 {
  bottom: -5em;
  right: 0;
}

.triangle {
  height: 30px;
  width: 30px;
}

.subscription-card,
.purchase-plan-card,
#option-plan,
#operating-env {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 !important;
}

.subscription-plan-header, .purchase-plan-header {
  font-size: 2.5em;
  font-weight: 800;
}

.subscription-plan-header {
  color: var(--blue);
}

.dotted-line {
  margin: 3.5em 0;
  border: #dbd9d9 1px dashed;
}

.service-provision, 
.caution,
.option-plan-disclaimer {
  color: #717171;
}

.service-provision p {
  margin-left: 2em;
  margin-bottom: 0 !important;
}

.service-provision-list, 
.caution-list,
.option-list,
.contents-list-nested,
.option-plan-disclaimer,
.php-version {
  list-style-type: '※';
}

.service-provision-list li, 
.caution-list li {
  font-size: 0.9em;
}

.purchase-plan-card {

}

.purchase-plan-header {
  color: var(--tomato);
}

.option-plan-list {
  flex-wrap: wrap;
  flex-grow: 1;
}

.option-plan-list div {
  width: 49%;
}

.option-plan-list-option {
  margin: 0.5em 0;
  border: none !important;
  border-radius: 0 !important;
}

.option-plan-list-option:nth-child(even) {
  margin-left: 0.5em;
}

.option-plan-list-option:nth-child(odd) {
  margin-right: 0.5em;
}

.option-plan-list-option div {
  width: 90%;
}

.option-plan-disclaimer {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  margin: 2em 0;
}

.support-menu-header,
.basic-customize-header,
.professional-customize-header,
.other-customize-header {
  font-size: 1.5em;
  font-weight: 900;
}

.support-menu-header {
  color: var(--green);
}

.basic-customize-header {
  color: var(--purple);
}

.professional-customize-header {
  color: var(--sky);
}

.other-customize-header {
  color: var(--orange);
}

#compare-plans,
#flow {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  background-color: var(--color-white);
}

.table th, .table td {
  text-align: center;
  border: #eee solid 1px;
}

.table th {
  line-height: 4em;
}

.subscription-cell {
  background-color: var(--blue) !important;
  color: var(--color-white) !important;
}

.purchase-cell {
  background-color: var(--tomato) !important;
  color: var(--color-white) !important;
}

#contact {
  padding: 5em 0;
}

.contact-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.required {
  color: var(--tomato);
}

.personal-info {
  flex-wrap: wrap;
}

.input-cont {
  width: 49%;
  margin-top: 1.5em;
}