.ml-2 {
  margin-left: 0.5rem !important;
}

.btn-orange {
  background-color: var(--orange) !important;
}

.font-heavy {
  font-weight: 800;
}

.font-medium {
  font-size: 0.8em;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-none {
  border: none !important;
}

.text-left {
  text-align: left !important;
}

label {
  font-size: 0.85em;
}

.small-nav-options {
  top: 2.7em;
  z-index: 3;
  width: 6em;
}

.small-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 3em;
}

.menu-btn {
  background: transparent;
  border: none;
}

.small-nav-option p {
  margin-bottom: 0 !important;
}

.skilled-img {
  border: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.feature-list {
  list-style: none !important;
}

#feature .card,
#operating-env {
  border: none !important;
}

.feature-header, .function-header {
  margin: 2em 0;
  font-size: 2em;
  font-weight: 800;
}

.feature-list li {
  width: 100%;
}

.feature-list li img {
  width: 30%;
}

.feature-list li div {
  width: 70%;
  text-align: left;
}

.feature-list-header{
  font-size: 1.7em;
  font-weight: 700;
}

.function-cont {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto !important;
}

.function-header {
  text-align: left;
}

.function-list {
  flex-wrap: wrap;
  flex-grow: 1;
}

.function-list-header {
  font-size: 1.4em;
  font-weight: 700;
  padding: 0.6em 0;
}

.function-list-item {
  margin: 0.5em;
  width: auto;
  max-width: 300px;
}

/* .function-list-item:not(:first-child) {
  margin: 0 0.5em;
}

.function-list-item:first-child {
  margin-right: 0.5em;
} */

#price {
  margin-top: 10%;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 30%;
}

.function-header,
.price-header {
  text-align: center !important;
}

.triangle {
  height: 30px;
  width: 30px;
}

.subscription-card,
.purchase-plan-card,
#option-plan,
#operating-env {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 !important;
}

.subscription-plan-header, .purchase-plan-header {
  font-size: 2.5em;
  font-weight: 800;
}

.subscription-plan-header {
  color: var(--blue);
}

.dotted-line {
  margin: 3.5em 0;
  border: #dbd9d9 1px dashed;
}

.service-provision, 
.caution,
.option-plan-disclaimer {
  color: #717171;
}

.service-provision p {
  margin-left: 2em;
  margin-bottom: 0 !important;
}

.service-provision-list, 
.caution-list,
.option-list,
.contents-list-nested,
.option-plan-disclaimer,
.php-version {
  list-style-type: '※';
}

.service-provision-list li, 
.caution-list li {
  font-size: 0.9em;
}

.purchase-plan-header {
  color: var(--tomato);
}

.option-plan-list {
  flex-wrap: wrap;
  flex-grow: 1;
}

.option-plan-list-option {
  margin: 0.5em;
  border: none !important;
  border-radius: 0 !important;
}

.option-plan-list-option:nth-child(even) {
  margin-left: 0.5em;
}

.option-plan-list-option:nth-child(odd) {
  margin-right: 0.5em;
}

.option-plan-content-box {
  padding: 0 3rem 1.5rem 3rem;
}

.option-plan-disclaimer {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  margin: 2em 0;
}

.support-menu-header,
.basic-customize-header,
.professional-customize-header,
.other-customize-header {
  font-size: 1.5em;
  font-weight: 900;
}

.support-menu-header {
  color: var(--green);
}

.basic-customize-header {
  color: var(--purple);
}

.professional-customize-header {
  color: var(--sky);
}

.other-customize-header {
  color: var(--orange);
}

#compare-plans,
#flow {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#compare-plans {
  overflow-x: scroll;
}

#compare-plans table {
  width: 950px;
}

.table {
  background-color: var(--color-white);
}

.table th, .table td {
  text-align: center;
  border: #eee solid 1px;
}

.table th {
  line-height: 4em;
}

.subscription-cell {
  background-color: var(--blue) !important;
  color: var(--color-white) !important;
}

.purchase-cell {
  background-color: var(--tomato) !important;
  color: var(--color-white) !important;
}

#contact {
  padding: 5em 0;
}

.contact-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.required {
  color: var(--tomato);
}

.personal-info,
.street-info,
.flex-wrap {
  flex-wrap: wrap;
}

.input-cont {
  width: 49%;
  margin-top: 1.5em;
}

.zip-code-inp {
  width: 7em !important;
}

.order-contents {
  flex-direction: column;
}

#order-detail {
  width: 100% !important;
}

.resize-none {
  resize: none;
}

.submit-btn {
  background-color: #717171 !important;
  padding: 0.5em 8em !important;
  opacity: 0.8;
  color: var(--color-white) !important;
}

.form-check-input[type=radio]:checked {
  opacity: 0;
}

.form-check-input[type=radio]:checked .form-check-img {
  opacity: 1 !important;
}

.form-check-img {
  top: 0;
  left: 1em;
  opacity: 0;
}

.green-contact-img {
  top: -2em;
  right: -18.7em;
}

.orange-contact-img {
  bottom: 0;
  left: -18.7em;
}
